.fondodark {
    background-image: url("https://i.postimg.cc/4ddyt44v/fondo-detalle.png");
    background-Size: cover;
   background-position: center;
   text-align: center;
   background-repeat: no-repeat;
   height: 100vh;
   resize: both;
   overflow: auto;
}
.fondo{
    background-image: url("https://i.postimg.cc/dtqCtFrB/fondo-detalle-claro.jpg");
    background-Size: cover;
   background-position: center;
   text-align: center;
   background-repeat: no-repeat;
   height: 100vh;
   resize: both;
   overflow: auto;
}
.detalle{
   
    display: flex;
    justify-content: center;
    margin-top: 80px;
   
}
.datosdark{
    vertical-align: auto;
    padding-left: 20px;
    margin-top: 80px;
    text-align: center;
}
.datosdark div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .datosdark h2 {
    color: #FFDB58;
    line-height: 2;
    margin: 0;
    text-align: left;
  }
.datos{
    vertical-align: auto;
    padding-left: 20px;
    margin-top: 80px;
    text-align: center;
}
.datos div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.datos h2{
    color: rgb(255, 2, 2);
    line-height: 2;
    margin: 0;
    text-align: left;
}

.nohover{
    height: 500px;
    width: 500px;
    margin-right: 100px;
    
    position: relative;
    
    
}
.nohover:hover{
    height: 500px;
    width: 500px;
    margin-right: 100px;
    transform: translateX(0%);
    transform: translateY(0%);
}
.tema{
    position: absolute;
    top: 0;
    right: 0;
 
}
.volver{
    text-align: center;
}