
.cartas{
  
  display: inline-grid;
  
   /* 4 columnas de igual ancho */
   
}
.xbutton {
   align-items: center;
    background-color: rgb(248, 6, 79);
    height: 30px;
    width: 30px;
   
}
.xbutton:hover {
    height: 50px;
    width: 50px;

}

h2{
    font-size: 25px;
    color: rgb(236, 176, 35);
    justify-content: center;
    text-align: center;

}
img{
    height: 150px;
    width: 150px;
}
img:hover {
   height: 250px;
   width: 250px;
   
}
span{
    position: relative;
    display: none;
}
.xbutton:hover span{
    position: absolute;
    display: inline-block;
    
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    
    text-align: center;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
  }