.fondo {
    background-image: url("https://i.postimg.cc/brctN89d/R-M-fondo-detalle.jpg");
    background-Size: cover;
   background-position: center;
   text-align: center;
   background-repeat: no-repeat;
   height: 100vh;
   resize: both;
   overflow: auto;
}
.detalle{
   
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
.datos{
    vertical-align: auto;
    padding-left: 20px;
}
.nohover{
    height: 350px;
    width: 350px;
    position: relative;
    margin-right: 50px;
    
}
.nohover:hover{
    height: 350px;
    width: 350px;
    transform: translateX(0%);
    transform: translateY(0%);
}
